<div class="row mb-3">
  <div class="col-md-4">
    <input
      class="form-control"
      [(ngModel)]="searchTerm"
      placeholder="Search by car name..."
    />
  </div>
  <div class="col-md-4">
    <select class="form-select" [(ngModel)]="sortField">
      <option value="name">Sort by Name</option>
      <option value="origin">Sort by MPG</option>
      <option value="cylinders">Sort by Cylinders</option>
      <option value="displacements">Sort by Displacements</option>
      <option value="horsepower">Sort by Horsepower</option>
      <option value="weight">Sort by weight</option>
      <option value="acceleration">Sort by Acceleration</option>
      <option value="model_year">Sort by Model Year</option>
      <option value="origin">Sort by Origin</option>
    </select>
  </div>
  <div class="col-md-4">
    <select class="form-select" [(ngModel)]="sortOrder">
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>
  </div>
</div>

<table
  class="table table-striped table-bordered table-hover mt-4 align-middle text-center rounded"
>
  <thead>
    <tr>
      <th class="bg-info text-white" style="width: 20%">Name</th>
      <th class="bg-info text-white" style="width: 5%">MPG</th>
      <th class="bg-info text-white" style="width: 10%">Cylinders</th>
      <th class="bg-info text-white" style="width: 10%">Displacement</th>
      <th class="bg-info text-white" style="width: 10%">Horsepower</th>
      <th class="bg-info text-white" style="width: 10%">Weight</th>
      <th class="bg-info text-white" style="width: 10%">Acceleration</th>
      <th class="bg-info text-white" style="width: 10%">Model Year</th>
      <th class="bg-info text-white" style="width: 5%">Origin</th>
      <th class="bg-info text-white" style="width: 15%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let automobile of filterdAutomobiles()">
      <td>{{ automobile.name }}</td>
      <td>{{ automobile.mpg }}</td>
      <td>{{ automobile.cylinders }}</td>
      <td>{{ automobile.displacement }}</td>
      <td>{{ automobile.horsepower }}</td>
      <td>{{ automobile.weight }}</td>
      <td>{{ automobile.acceleration }}</td>
      <td>{{ automobile.model_year }}</td>
      <td>{{ automobile.origin | uppercase }}</td>
      <td>
        <button class="btn btn-outline-danger btn-sm w-100">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
